<h1> All Beers
<% if @brewery %>
by <%= @brewery.name %>
<% end %></h1>


<% @beers.each do |beer| %>
    <h2><%= link_to beer.name, beer_path(beer.id) %> - <%= beer.abv %>%, by <%= beer.brewery.name %></h2>
    <%= link_to "Write a review", new_beer_review_path(beer.id) %>
    <% if beer.reviews.length > 0 %>
      <%= link_to "See all reviews", beer_reviews_path(beer.id) %>
    <% end %>
  <div>
    <p><%= beer.flavor_profile %></p>
  </div>
<% end %>
