<h1><%= @beer.name %>  </h1>

<h2>by <%= @beer.brewery.name %> </h2>
<div>
  <p><%= @beer.flavor_profile %></p>
</div>

<%= form_tag beer_path(@beer.id), method: "delete" do %>
  <%= submit_tag "Delete #{@beer.name}" %>
<% end %>
